@media screen and (min-width: 768px) {
  .clean-shadow {
    box-shadow: 2px 19px 68px rgba(0,0,0,0.10), 5px 10px 23px rgba(0,0,0,0.12);
  }
}

.profile {
  width:160px;
  height:160px;
  background-color: white;
}
